:root {
  --white: #f8f9fb;
  --prim1: #234C5A;
  --prim2: #F4C095;

  
}

/*
D7AF70
E0E0E2
DBD3AD
D6CBC1
F7B267
EDF4ED
C6AD94

*/

html, body{
    font-family: 'Karla', sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
}

h1, h2 {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Karla', sans-serif;
}

/*THIS IS THE COVER DIV
---------------------------------------------
*/
.WelcomeDiv {
    background-color: var(--prim1);
    position: fixed;
    z-index: 1000;
}

.bgimage {
    background-image: url("/img/map.png");
    background-position: center;
    background-repeat: no-repeat;
}

#coverContainer {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    margin: 10vh 0 0 0;
}

.startButton {
    background-color: var(--prim2);
    color: var(--prim1);
}




/*HERE THE WEBSITE STARTS
------------------------------*/

#header {
    background-color: var(--prim1);
}

#logo {
    /*background-color: var(--prim2);*/
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: 0.5s;
}

#topRight {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-3 -5)'%3E%3Cg id='infoIcon' transform='translate(-44 -28)'%3E%3Cpath id='Path_7' data-name='Path 7' d='M51.645,13.931a2.68,2.68,0,1,1-2.68-2.68A2.68,2.68,0,0,1,51.645,13.931Z' transform='translate(17.169 30.75)' fill='%234b4b4b'/%3E%3Cpath id='Path_8' data-name='Path 8' d='M66.273,83.4c-.014.893.248,1.145.885,1.25l1.024.033v1.676H60.19V84.687l1.126-.033c.673-.033.835-.452.885-1.25V73.321c.007-1.6-1.288-1.346-2.2-1.3v-1.66L66.273,70' transform='translate(2.454 -20.182)' fill='%234b4b4b'/%3E%3C/g%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='40' height='40' transform='translate(3 5)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    /* margin: 10px; */
    border-radius: 50%;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1);
    top: 30px;
    left: 30px;
}

#selectionContainer {
    z-index: 100;
    background-color: var(--white);
    display: none;
}


.autoheight {
    flex-grow : 1;
    background-color: red;
}

.bottomradius {
    border-bottom-left-radius: .5rem; 
    border-bottom-right-radius: .5rem;
}

.singleImgSelection {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}

#slideshow-container {
    overflow: hidden;
    background-color: lightgrey;
    display: none;
}

#selectionContainerLinks {
    background-color: var(--prim1);
}

.bluebackground {
    background-color: var(--prim1);
}

.bluebackground:hover {
    opacity: 0.5;
    transition: all 0.3s;
}

#bottomTray {
    width: calc(100vw - 20px);
    max-width: 300px;
    height: 50px;
    position: fixed;
    z-index: 100;
    margin: 0 10px;
    border-radius: 10px 10px 0 0;
    bottom: 0;
    right: 0;
    background-color: white;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1);
}

#itemBottomPositioner {
    /* height: 100px; */
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    overflow-x: scroll;
}

#horisontalScrollcontainer {
    width: max-content;
    /* height: 100%; */
}

.item {
    /* border: solid green 1px; */
    min-width: 80px;
    height: calc(100% - 10px);
    margin: 5px 3px;
    float: left;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1);
    padding: 5px;
    /* width: 100%; */
}

.selectedItem {
    border: solid 1px crimson;
}

.squished {
    transform: scale(0.7) skewY(10deg) translate(450px, -30px);
    transition: 0.5s;
    border-radius: 10px;
}

#websiteInfoBackground {
    width: 30%;
    height: 100%;
    /* background-color: #CE004A; */
    position: fixed;
    padding: 0px 25px 25px 25px;
    color: white;
    font-weight: 400;
    overflow-y: auto;
}

.itemThing {
    text-align: center;
    font-size: 13px;
    margin: 2px;
}

.bottomTitle {
    padding: 0 0 10px 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin: 0 0 5px 0;
    font-weight: 400;
}

.mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: 100% !important;
    font-family: 'Rubik', sans-serif !important;
    border-radius: 0.5rem !important;
    vertical-align: middle;
    padding: 5px;
    font-size: 100% !important;

}

.mapboxgl-ctrl-geocoder--icon {
    display:none !important;
}

ul {
    list-style-type: square;
}

.mapboxgl-popup-content {
    /* min-width: 200px;
    width: 100%; */
    /* border-radius: 15px; */
    background-color: transparent !important;
    box-shadow: none !important;
    /* border-top-color: none !important; */
    padding: 0 !important;
}

.popupImg {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.itemImg {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    height: 100px;
    margin: 0 0 0 20px;
}

.loadingBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 35px;
    width: content;
    border-radius: 5px;
    z-index: 900;
}

.itemRow {
    background-color: white;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1);
    /*   border: solid red 1px; */
    text-align: right;
    padding: 0 5px;
    margin: 3px 0 0 0;
    background-repeat: no-repeat;
    background-position: 5px, left;
    font-size: 11px;
}

.popupRow {
    background-color: white;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1);
    /*   border: solid red 1px; */
    text-align: right;
    padding: 15px;
    margin: 10px 0 0 0;
    background-repeat: no-repeat;
    background-position: 10px, left;
    font-size: 21px;
}

.popupTitle, .popupFactor {
    margin: 0;
    float: left;
    font-weight: 400;
}

.popupFactor {
    text-align: right;
    float: right;
    font-weight: 600;
    color: crimson;
}

.popupHeader {
    width: 100%;
    height: 2.5em;
}

.itemTitle, .itemFactor {
    margin: 0;
    float: left;
    font-weight: 400;
    font-size: 15px;
}

.itemTitle {
    padding: 0 10px 0 0;
}

.itemFactor {
    text-align: right;
    float: right;
    font-weight: 600;
    color: crimson;
}

.itemHeader {
    width: 100%;
    height: 21px;
}

.imgSlides {
    display: none;
}

.carouselImg {
    width: 100%;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 0 15%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    height: 100%;
    opacity: 0.2;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.929' height='95.721' viewBox='0 0 23.929 95.721'%3E%3Cg id='Group_2' data-name='Group 2' transform='translate(1.974 1.974)' opacity='0.7'%3E%3Cline id='Line_1' data-name='Line 1' x1='19.981' y2='45.886' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2' data-name='Line 2' x1='19.981' y1='45.886' transform='translate(0 45.886)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.next {
    right: 0;
    background-position: 80%, center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.929' height='95.721' viewBox='0 0 23.929 95.721'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-1857.526 -79.526)' opacity='0.7'%3E%3Cline id='Line_1' data-name='Line 1' x2='19.981' y2='45.886' transform='translate(1859.5 81.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2' data-name='Line 2' y1='45.886' x2='19.981' transform='translate(1859.5 127.386)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.prev:hover, .next:hover {
    /* background-color: rgba(255, 255, 255, 0.1); */
    opacity: 1;
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    margin: 5px;
    padding: 0px 5px;
    position: absolute;
    top: 0;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}

.imgDotContainer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.imgDot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: rgba(255, 255, 255, 0.9);
}





.transparent {
    opacity: 0;
}




.GalleryVieuwDownwards {}

#galleryContainer {
    /* background-color: orange; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 20000;
    position: fixed;
    top: 0;
    left: 0;
}

#leftContainerGal {
    width: 550px;
    max-width: 33vw;
    height: 100vh;
    overflow: hidden;
    float: left;
}

.leftInfoContainer {
    background: white;
    width: calc(100% - 20px);
    /*   border: solid 2px green; */
    padding: 10px;
    position: relative;
}

#qnbrGal {
    position: absolute;
    top: 10px;
    right: 10px;
}

#leftImgContainer {
    /*   width: calc(100% -20px); */
    padding: 10px;
    height: 100%;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.2);
}

.smallImgGal {
    height: 8vw;
    max-height: 120px;
    min-height: 60px;
    border-radius: 3px;
    margin: 0 6px 10px 0;
    vertical-align: middle;
    cursor: pointer;
}

.zeroMarg {
    margin: 0;
}

#rightContainer {
    width: auto;
    overflow: hidden;
    height: 100vh;
}

#rightpPhotoContainer {
    width: calc(100% - 75px);
    float: left;
    height: 100vh;
    position: relative;
}

#rightBtnContainer {
    width: auto;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#closeGal {
    /*   border: solid red 1px; */
    width: 100%;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 80%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.477' height='37.477' viewBox='0 0 37.477 37.477'%3E%3Cg id='Group_43' data-name='Group 43' transform='translate(-1759.261 -15.761)'%3E%3Cline id='Line_5' data-name='Line 5' x2='45' transform='translate(1762.09 18.59) rotate(45)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='4'/%3E%3Cline id='Line_6' data-name='Line 6' x2='45' transform='translate(1762.09 50.41) rotate(-45)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#closeGal:hover {
    opacity: 100%;
}

.bigImgPositionerGal {
    max-width: 90%;
    max-height: 90%;
    margin: 0 0 0 5%;
}

.bigImgGal {
    /*   max-width: 90%;
    max-height: 90%;
    margin: 0 0 0 5%; */
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-radius: 8px;
}

.bigImgInfoTextGal {
    cursor: pointer;
    opacity: 0.7;
}

.bigImgInfoTextGal:hover {
    opacity: 1;
}

#webBtnsGal {}

.rightPortrudingBtns {
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 25px 0;
    border-radius: 8px 0 0 8px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 80%;
}

.LeftPortrudingBtns {
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 25px 0;
    border-radius: 0 8px 8px 0;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 80%;
}

.rightPortrudingBtns:hover {
    opacity: 100%;
}

#wikidata {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50.715' height='31.305' viewBox='0 0 50.715 31.305'%3E%3Cg id='wikidata' transform='translate(-120 -45)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M120,76.305h1.878V45H120Zm3.757,0h5.635V45h-5.635ZM131.27,45V76.305H136.9V45Z' fill='%23900'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M446.3,76.305h1.878V45H446.3ZM450.053,45V76.305h1.878V45ZM420,76.305h1.878V45H420ZM423.757,45V76.305h1.878V45Z' transform='translate(-281.217)' fill='%23396'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M540,76.305h5.635V45H540Zm7.513,0h1.878V45h-1.878ZM551.27,45V76.305H556.9V45Z' transform='translate(-393.703)' fill='%23069'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#wikipedia {
    background-size: 60%;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/103px-Wikipedia-logo-v2.svg.png");
}

#commons {
    background-size: 50%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/178px-Commons-logo.svg.png");
}

#googleMaps {
    background-image: url("data:image/svg+xml,%3Csvg id='g842' xmlns='http://www.w3.org/2000/svg' width='34.829' height='49.95' viewBox='0 0 34.829 49.95'%3E%3Cpath id='path835' d='M1414.2,204.757a48.576,48.576,0,0,1,3.936,5.812,30.572,30.572,0,0,1,2.161,5.479c.436,1.262.851,1.644,1.722,1.644.952,0,1.388-.643,1.722-1.644a30.955,30.955,0,0,1,2.084-5.377,60.23,60.23,0,0,1,5.841-8.259c.566-.72,4.168-4.966,5.788-8.336a20.288,20.288,0,0,0,1.982-8.824,17.533,17.533,0,0,0-1.954-8.153l-5.657,1.518-3.448,9.056-.851,1.233-.179.232-.232.285-.387.464-.566.566-3.061,2.5-7.64,4.424Z' transform='translate(-1404.606 -167.743)' fill='%2334a853'/%3E%3Cpath id='path833' d='M1220.2,282.677c1.876,4.27,5.454,8,7.9,11.295l12.939-15.333a6.8,6.8,0,0,1-5.12,2.393,6.625,6.625,0,0,1-6.663-6.639,7.084,7.084,0,0,1,1.518-4.294L1222,272.44Z' transform='translate(-1218.503 -256.957)' fill='%23fbbc04'/%3E%3Cpath id='path831' d='M1490.32-33.3a17.269,17.269,0,0,1,10.188,8.592l-10.343,12.321a7.186,7.186,0,0,0,1.518-4.294,6.7,6.7,0,0,0-6.639-6.639,6.963,6.963,0,0,0-5.145,2.365v-7.766Z' transform='translate(-1467.632 34.094)' fill='%234285f4'/%3E%3Cpath id='path829' d='M1278.3-46.577a17.284,17.284,0,0,1,13.3-6.223,17.8,17.8,0,0,1,5.3.8l-10.391,12.349h-7.359Z' transform='translate(-1274.238 52.8)' fill='%231a73e8'/%3E%3Cpath id='path827' d='M1180.2,120.172a19.916,19.916,0,0,1-1.7-8.23,17.317,17.317,0,0,1,4.091-11.242l8.206,6.919Z' transform='translate(-1178.5 -94.452)' fill='%23ea4335'/%3E%3C/svg%3E%0A");
}

#flickr {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50.01' height='22.896' viewBox='0 0 50.01 22.896'%3E%3Cg id='flickr' transform='translate(-29.5 -74.5)'%3E%3Cpath id='path4776' d='M63.146,106.2A11.448,11.448,0,1,1,51.7,94.75,11.448,11.448,0,0,1,63.146,106.2Z' transform='translate(-10.75 -20.25)' fill='%230063dc'/%3E%3Cpath id='path4778' d='M153.146,106.2A11.448,11.448,0,1,1,141.7,94.75,11.448,11.448,0,0,1,153.146,106.2Z' transform='translate(-73.636 -20.25)' fill='%23ff0084'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.mapboxgl-canvas-container,
#galleryContainer,
#itemBottomPositioner,
#ContentCard {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.disabled {
    opacity: 25%;
}

#LeftBtnContainer {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: auto;
    /* overflow: hidden; */
    height: 100vh;
    /* position: relative; */
}


.wikipediaHoverPopupTitle {
    color: white;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.25);
    font-weight: 400;
    text-align: center;

}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}

@media screen and (max-width: 800px) {
    .squished {
        transform: scale(0.6) skewY(8deg) translate(450px, -50px);
    }
    #websiteInfoBackground {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .squished {
        transform: scale(0.6) skewY(8deg) translate(450px, -50px);
    }
    #websiteInfoBackground {
        width: 55%;
    }
}

@media screen and (max-width: 400px) {
    .squished {
        transform: scale(0.6) skewY(8deg) translate(450px, -50px);
    }
    #websiteInfoBackground {
        width: 75%;
    }
}