/* Variables */
:root {
    --white: #f8f9fb;
    --prim1: #234C5A;
    --prim2: #4B7982;
    --prim3: #F4E9D3;
    --primx: #E4E7E6;
    --prim4: #ECF2F4;
    --black: #272727;
}

/* Base Styles */
img[src*="loading.gif"] {
    width: 20px;
}

html,
body {
    font-family: 'Supreme', sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--white);
}

h1,
h2 {
    font-family: 'Supreme', sans-serif;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

p {
    font-family: 'Supreme', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/* Links & Buttons */
.link {
    text-decoration: none;
    cursor: pointer;
}

.gap {
    gap: 8px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.textlink {
    display: inline-block;
    color: var(--prim2);
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
}

.textlink:hover {
    color: var(--prim2);
    text-decoration: underline;
}

/* List Items */
.wikilinks {
    width: 100%;
    margin-top: 16px;
    color: var(--black);
}

.listitem {
    border-top: 0.5px solid black;
    width: 100%;
    padding: 0px 8px;
    transition: 0.2s;
}

.listitemlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
}

.listitemimage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 32px;
    max-width: 32px;
    width: auto;
    height: auto;
}

.listitemlabel {
    color: var(--black);
    margin-left: 24px;
    text-decoration: none;
    line-height: 1.2;
}

.listitem:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

/* Main Layout */
.maincontent {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.mapcontainer {
    overflow: hidden;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 0px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 0%;
}

.info-close {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}

/* Map Styles */
#map {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.mapboxgl-ctrl-geocoder {
    background-color: var(--white)!important;
    border-radius: .5rem!important;
}

.mapboxgl-ctrl-geocoder--icon {
    display: none !important;
}

.mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 16px!important;
    font-family: 'Supreme', sans-serif!important;
    font-size: .875rem!important;
}

/* Map Popup Styles */
.articleDropdown {
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 5px;
    width: fit-content;
    overflow: hidden;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow: auto;
}

.articleDropdown li {
    margin: 0;
    font-size: 13px;
    padding: 7px;
    list-style: none;
    border-top: 1px solid #ddd;
}

.articleDropdown li:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
}

.articleDropdown li:first-child {
    border-top: none;
}

.mapboxgl-popup-content {
    background: transparent;
    padding: 0;
}

/* Image Container */
.image-container {
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 16px;
}

.image-container .close-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.image-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.image-container.fullscreen .close-icon {
    display: block;
    z-index: 9999;
}

.image-container.fullscreen img {
    max-height: 95%;
    max-width: 95%;
}

/* Utility Classes */
.hidescrollbars::-webkit-scrollbar {
    display: none;
}

.hidescrollbars {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Article Styles */
.title {
    color: var(--black);
}

.text-padding {
    padding: 0rem 1rem;
}

/* Welcome Screen */
.WelcomeDiv {
    background-color: var(--prim3);
    color: white;
}

.welcomebox {
    background-color: rgba(255,255,255,0.65);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    color: #000;
    border-radius: 24px;
    text-align: left;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.welcomesearchcontent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.welcomesearch {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

#geocoderWelcome {
    width: 75%;
}

.WelcomeDiv .mapboxgl-ctrl-geocoder {
    text-align: left;
    width: 100%;
    max-width: none;   
}

.WelcomeDiv .mapboxgl-ctrl-geocoder input {
    text-align: left;
    width: 100%;
    max-width: none;
    height: 48px;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Supreme', sans-serif;
    font-weight: 400;
    padding: 6px 16px!important;
    font-size: 1rem!important;
}

.startButton {
    height: 48px;
    width: 25%;
    background-color: var(--white);
    text-decoration: none;
    color: var(--prim1);
    z-index: 1;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    transition: all 0.2s ease-out;
}

.startButton:hover {
    background-color: #e5e5e5;
    text-decoration: none !important;
}

.menubar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    padding: 16px;
    width: 100%;
    gap: 8px;
}

.randomButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin-top: 0;
    padding: 12px 24px;
    width: fit-content;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    z-index: 1;
    transition: all 0.2s ease-out;
}

.random-label {
    white-space: nowrap;
}

.randomButton:hover, 
.enlargeMapIcon:hover {
    background-color: #e5e5e5;
}

.enlargeMapIcon {
    background-color: var(--white);
    color: var(--black);
    min-width: 36px;
    height: 36px;
    text-align: center;
    z-index: 5;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
}

.line {
    background-color: white;
    width: 100%;
    height: 1px;
}

/* Loading Box */
#loadingBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 35px;
    width: max-content;
    border-radius: 5px;
    z-index: 900;
}

#loadingBox h1 {
    margin: 0;
    font-size: 1rem;
    letter-spacing: -0.5px;
}

/* Search Box */
.searchbox {
    gap: 16px;
}

/* About Page Styles */
.aboutbody {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.aboutcontent {
    margin-top: 6em;
    margin-bottom: 6em;
    max-width: 600px;
    padding: 0px 16px;
    display: block;
}

.aboutbody h1 {
    margin-bottom: 0;
}

.aboutbody h2 {
    margin-top: 32px;
    margin-bottom: 0;
}

.aboutbody p {
    margin-top: 8px;
}

.aboutbody a {
    color: var(--prim2);
}

.backbutton {
    width: 200px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 3em;
}

.backbuttontext {
    width: 80%;
    display: flex;
    align-items: center;
}

.aboutsubtitle {
    margin-bottom: 2px;
    margin-top: 24px;
    font-weight: 600;
    font-size: 18px;
}

.overflow-visible {
    overflow: auto!important;
}

/* Media Queries */
@media only screen and (max-width: 599px) {
    .mapcontainer {
        margin: 0px;
        border-radius: 0;
    }

    .info {
        padding: 40px 16px;
    }
    
    .image-container {
        height: 240px;
    }

    .text-padding {
        padding: 0rem;
    }

    .welcomebox {
        width: calc(100% - 24px);
        padding: 24px;
        margin: 12px;
    }

    .welcomesearch {
        flex-direction: column;
    }

    #geocoderWelcome {
        width: 100%;
    }

    .startButton {
        width: 100%;
    }

    .random-label {
        display: none;
    }

    .randomButton {
        height: 50px;
        min-width: 50px;
        width: 50px;
    }

    .randomButton img {
        height: 16px;
        min-width: 16px;
    }

    .searchbox {
        gap: 8px;
    }
}

@media only screen and (min-width: 600px) {
    .mapcontainer {
        margin: 0px;
    }

    .info {
        padding: 40px 80px;
    }

    .welcomebox {
        width: 480px;
        padding: 48px 48px 24px;
    }
}

@media only screen and (min-width: 900px) {
    .mapcontainer {
        margin: 16px;
        border-radius: 16px;
    }

    .info {
        padding: 40px 16px 40px 32px;
    }
    
    .menubar {
        width: calc(100% - 32px);
    }
}